{%load crispy_forms_tags%}

<form method='post' action="{%url 'add-agency'%}" class="js-agency-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add Agency</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            {{form.agency_name|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.agency_address|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.agency_head|as_crispy_field}}
        </div>
        <div class="row col-md-12">
            <div class="col-md-6">
                {{form.agency_contact|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.agency_email|as_crispy_field}}
            </div>
        </div>
        <div class="col-md-12">
            {{form.agency_website|as_crispy_field}}
        </div>
        {{form.agency_logo1|as_crispy_field}}
        {{form.agency_logo2|as_crispy_field}}
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
                     