{% load i18n static admin_adminlte %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

    {% admin_get_menu as app_list %}
    {% if app_list %}
    {% for app in app_list %}
    {% if app.has_perms and not app.pinned %}
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %}"
        data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}" href="{{ app.url }}">
        <i class="nav-icon {{ app.icon }}"></i>
        <p>
          {{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>

      {% if app.models %}
      <ul class="nav nav-treeview">
        {% for model in app.models %}
        {% if model.url %}
        <li class="nav-item">
          <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
            href="{{ model.url }}">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ model.label }}</p>
          </a>
        </li>
        {% else %}
        <li class="nav-item">{{ model.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user.is_superuser %}
    <li class="nav-header">Account</li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Logout
        </p>
      </a>
    </li>
    {% endif %}

    {% if not request.user.is_superuser and not request.user.office_user and request.user.is_authenticated %}
    <li class="nav-header">User Info</li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "officeUser-index" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Agencies
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Officies
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Department
        </p>
      </a>
    </li>
    <li class="nav-header">Tracking Info</li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Category
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Attachment
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Status
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Workflow
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Flow
        </p>
      </a>
    </li>
    <li class="nav-header">Account</li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Logout
        </p>
      </a>
    </li>
    {% endif %}

    {% if request.user.office_user %}
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "officeUser-index" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Submit New
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Incoming
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Forwarded
        </p>
      </a>
    </li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="#" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Recieved
        </p>
      </a>
    </li>
    <li class="nav-header">Account</li>
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a href="{% url "login" %}" class="nav-link {% if 'dashboard' in parent %} active {% endif %}">
        <p>
          Logout
        </p>
      </a>
    </li>
    {% endif %}
    
    <li class="nav-item">
      <a target="_blank" href="https://appseed.us/support/" class="nav-link">
        <i class="fa fa-rocket text-danger nav-icon"></i>
        <p>Support</p>
      </a>
    </li>         
    
  </ul>